[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = RahulNavneeth
	email = rahulmnavneeth@gmail.com
[credential]
	helper = osxkeychain
[pager]
	log = false
[core]
	pager = cat
